/*General*/
.woocommerce-multi-currency img {
    max-width: 100%;
}

/*Sidebar*/
.woocommerce-multi-currency.wmc-sidebar {
    position: fixed;
    z-index: 9999999999;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial;
    max-height: 100vh;
    overflow: auto;
}

.woocommerce-multi-currency.wmc-sidebar .wmc-title {
    text-align: center;
    /*display: none;*/
    visibility: hidden;
    color: #fff;
    font: 300 normal 16px Arial;
    margin: 0;
    text-transform: uppercase;
    background: #000000;
    padding: 16px 0;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    width: 250px;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-hover .wmc-title, .woocommerce-multi-currency.wmc-sidebar.wmc-collapse.wmc-hover .wmc-currency {
    display: block !important;
    visibility: visible;
}

.wmc-approximately {
    line-height: 1.5;
}

/*Style 1*/
.woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies {
    width: 250px;
    display: inline-block;
    font-size: 0;
}

.woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies .wmc-currency {
    background: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 250px;
    z-index: 1000;
    font: normal normal 10px Arial;
    margin: 4px 0 0;
    transition: all .25s ease;
    position: relative;
    cursor: pointer;
    clear: both;
    display: inline-block;
    height: 40px;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-collapse.style-1 .wmc-list-currencies .wmc-currency:not(.wmc-active) {
    display: none;
}

.woocommerce-multi-currency.wmc-sidebar.style-1.wmc-left .wmc-list-currencies .wmc-currency {
    text-align: right;

}

.woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies .wmc-currency.wmc-active {
    position: relative;
    background: #f78080;
}

.woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies .wmc-sidebar-open:before {
    content: "+";
    width: 100%;
    text-align: center;
}

.woocommerce-multi-currency.wmc-sidebar .wmc-list-currencies .wmc-sidebar-open {
    position: relative;
    height: 40px;
    width: 40px;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 50%;
    margin: 10px 5px 0;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    color: #ccc;
    font-weight: 700;
    font-size: 28px;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-left .wmc-list-currencies .wmc-sidebar-open {
    float: right;
}

.woocommerce-multi-currency.wmc-sidebar .wmc-list-currencies .wmc-sidebar-open {
    display: none;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-collapse .wmc-list-currencies .wmc-sidebar-open {
    display: block;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-collapse.wmc-hover .wmc-list-currencies .wmc-sidebar-open {
    display: none;
}

.woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies .wmc-currency:hover {
    background: #f78080;
}

.woocommerce-multi-currency.wmc-price-switcher a:hover i {
    transform: scale(1.05);
}

.woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies .wmc-currency span:not(.wmc-active-title) {
    color: #fff;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    line-height: 40px;
}

.woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies .wmc-currency a, .woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies .wmc-currency span.wmc-active-title {
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    vertical-align: top;
    display: inline-block;
    width: 170px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*Style for symbol*/
.woocommerce-multi-currency.wmc-sidebar.wmc-currency-symbol .wmc-list-currencies .wmc-currency span {
    font-size: 16px;
    font-weight: 300;
}

/*Style for flag*/
.woocommerce-multi-currency.wmc-sidebar.wmc-currency-flag.wmc-left .wmc-list-currencies .wmc-currency {
    border-radius: 0 5px 5px 0;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-currency-flag.wmc-right .wmc-list-currencies .wmc-currency {
    border-radius: 5px 0 0 5px;
}

/*Style for flag+symbol*/
.woocommerce-multi-currency.wmc-sidebar.wmc-currency-flag.wmc-currency-symbol .wmc-list-currencies .wmc-currency a {
    font-size: 16px;
}

/*Position*/

/*Right*/
.woocommerce-multi-currency.wmc-sidebar.wmc-right {
    right: -210px;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-right.wmc-hover {
    right: 0;
}

/*Left*/
.woocommerce-multi-currency.wmc-sidebar.wmc-left {
    left: -210px;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-left.wmc-hover {
    left: 0;
}

.woocommerce-multi-currency.wmc-sidebar.wmc-left .wmc-list-currencies .wmc-currency span {
    display: inline-block;
    float: right;
}

/*Shortcode garenal*/
.woocommerce-multi-currency.wmc-shortcode {

}

.woocommerce-multi-currency.wmc-shortcode img {
    vertical-align: middle;
    height: 24px;
    width: 24px;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.woocommerce-multi-currency.wmc-shortcode.flag-large img {
    width: 64px;
    height: auto;
}

.woocommerce-multi-currency.wmc-shortcode .wmc-currency {

}

.woocommerce-multi-currency.wmc-shortcode .wmc-currency a {
    text-decoration: none !important;
    box-shadow: none;
    margin: 0;
    padding: 0;
    color: inherit;
}

/*Layout 1 - Plain Horizontal*/
.woocommerce-multi-currency.wmc-shortcode.plain-horizontal {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    width: 100%;
}

.woocommerce-multi-currency.wmc-shortcode.plain-horizontal .wmc-currency a {
    font-weight: 300;
}

.woocommerce-multi-currency.wmc-shortcode.plain-horizontal .wmc-currency.wmc-active a {
    font-weight: 700;
}

.woocommerce-multi-currency.wmc-shortcode.plain-horizontal .wmc-currency {
    display: inline-block;
    /*padding: 0 5px 5px;*/
    padding: 5px;
    vertical-align: top;
    max-width: 50%;
    font-size: 16px;
}

/*Layout 2 - Plain Vertical*/

.woocommerce-multi-currency.wmc-shortcode.plain-vertical {
    box-sizing: border-box;
    display: inline-block;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper {

    position: relative;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency, .woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency {
    position: relative;
    padding: 5px 20px;
}

.woocommerce-multi-currency.wmc-shortcode .wmc-currency-wrapper span.wmc-current-currency-arrow {
    position: absolute;
    line-height: 1.5;
    right: 3px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

.woocommerce-multi-currency.wmc-shortcode .wmc-currency-wrapper span.wmc-current-currency-arrow::after {
    content: '\25bc';
    /*padding-left: 0.3em;*/
}


.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper span.wmc-current-currency {
    display: flex;
    position: relative;
    font-weight: 700;
    border: 1px solid #e5e5e5;
    line-height: 1;
    width: calc(100% + 2px);
}


.woocommerce-multi-currency.wmc-shortcode.plain-vertical.layout5 .wmc-currency-wrapper span.wmc-current-currency span {
    padding: 0 5px;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency {
    position: absolute;
    top: 100%;
    width: calc(100% + 2px);
    background: #fff;
    border: 1px solid #e5e5e5;
    text-align: left;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    display: none;
    border-top: none;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper:hover .wmc-sub-currency {
    display: block;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency a {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    font-weight: 400;
    display: flex;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency a:hover, .woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency.wmc-active a {
    font-weight: 700;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical .wmc-currency-wrapper .wmc-sub-currency .wmc-currency a span {
    display: inline-block;
    /*line-height: 1;*/
    vertical-align: middle;
    padding: 0 5px;
}

/*Layout 5*/

.woocommerce-multi-currency.wmc-shortcode.plain-vertical a {
    white-space: nowrap;
}


/*Layout 6*/
.woocommerce-multi-currency.wmc-shortcode.plain-horizontal.layout6 .wmc-currency {
    font-size: 16px;
}

/*Price switcher*/
.woocommerce-multi-currency.wmc-price-switcher {
    font-size: 16px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    margin: 5px 0;
    display: inline-block;
}

.woocommerce-multi-currency.wmc-price-switcher .wmc-current-currency {
    display: inline-block;
    padding: 0 20px 5px 0;
    position: relative;
}

.woocommerce-multi-currency.wmc-price-switcher .wmc-current-currency:before {
    content: '\25bc';
    position: absolute;
    right: 0;
    top: 15%;
    /*transform: translateY(-50%);*/
    font-size: 14px;
}

.woocommerce-multi-currency.wmc-price-switcher .wmc-sub-currency {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: -50px;
    visibility: hidden;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    left: 0px;
    max-height: 90vh;
    overflow: auto;
}

.woocommerce-multi-currency.wmc-price-switcher:hover .wmc-sub-currency {
    visibility: visible;
    opacity: 1;
    top: 45px;
}

.woocommerce-multi-currency.wmc-price-switcher a {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    /*line-height: 40px;*/
    width: 100%;
    background: #eee;
    /*border-radius: 5px;*/
    font-size: 0;
}

.woocommerce-multi-currency.wmc-price-switcher img {
    display: inline-block;
    max-width: 40px;
    vertical-align: top;
}

.woocommerce-multi-currency.wmc-price-switcher a span {
    padding: 0 15px 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.woocommerce-multi-currency.wmc-price-switcher .wmc-currency {
    padding: 0;
    margin-bottom: 3px;
}

.woocommerce-multi-currency.wmc-price-switcher .wmc-price-switcher-price {
}

.woocommerce-multi-currency.wmc-price-switcher .wmc-currency a {
    /*background-color: white !important; th*/
    display: flex;
    line-height: 2;
}

/*Position attribute for shortcode*/
.woocommerce-multi-currency.wmc-shortcode.wmc-shortcode-fixed.top-left {
    top: 0;
    left: 0;
    bottom: unset;
    right: unset;
}

.woocommerce-multi-currency.wmc-shortcode.wmc-shortcode-fixed.top-right {
    top: 0;
    left: unset;
    bottom: unset;
    right: 0;
}

.woocommerce-multi-currency.wmc-shortcode.wmc-shortcode-fixed.bottom-left {
    top: unset;
    left: 0;
    bottom: 0;
    right: unset;
}

.woocommerce-multi-currency.wmc-shortcode.wmc-shortcode-fixed.bottom-right {
    top: unset;
    left: unset;
    bottom: 0;
    right: 0;
}

.woocommerce-multi-currency.wmc-shortcode.wmc-shortcode-fixed {
    position: fixed;
    z-index: 99999999;
    width: auto;
}

.woocommerce-multi-currency.wmc-shortcode.wmc-shortcode-fixed.bottom-left .wmc-currency-wrapper .wmc-sub-currency,
.woocommerce-multi-currency.wmc-shortcode.wmc-shortcode-fixed.bottom-right .wmc-currency-wrapper .wmc-sub-currency {
    top: unset;
    bottom: 100%;
}

.wmc-sub-currency .wmc-hidden {
    display: none;
}

.woocommerce-multi-currency.layout10 .wmc-text {
    vertical-align: top;
    padding-left: 5px;
}

.wmc-current-currency-inner.wmc-active {
    display: block;
}


/*Responsive*/
@media screen and (max-width: 768px) {
    .woocommerce-multi-currency.wmc-sidebar.style-1 .wmc-list-currencies .wmc-currency, .woocommerce-multi-currency.wmc-sidebar .wmc-title {
        margin-left: auto;
        margin-right: auto;
    }

    .woocommerce-multi-currency.wmc-sidebar .wmc-list-currencies .wmc-currency:not(.wmc-active), .woocommerce-multi-currency.wmc-sidebar.wmc-hover .wmc-list-currencies .wmc-sidebar-open {
        display: none;
    }

    .woocommerce-multi-currency.wmc-sidebar.wmc-mobile-no-collapse .wmc-list-currencies .wmc-currency {
        display: inline-block;
    }

    .woocommerce-multi-currency.wmc-sidebar .wmc-list-currencies .wmc-sidebar-open, .woocommerce-multi-currency.wmc-sidebar.wmc-hover .wmc-list-currencies .wmc-currency {
        display: flex;
    }

    .woocommerce-multi-currency.wmc-sidebar.wmc-mobile-no-collapse .wmc-list-currencies .wmc-sidebar-open {
        display: none;
    }

    .woocommerce-multi-currency.wmc-sidebar.wmc-hover {
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        transform: none;
        bottom: 0;
        padding: 10% 0;
        background: rgba(255, 255, 255, 0.8);
    }

    .woocommerce-multi-currency.wmc-sidebar.wmc-hover .wmc-list-currencies {
        overflow: auto;
        width: 100%;
        margin: 0 auto;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        max-height: 100%;
    }

    /*.woocommerce-multi-currency.wmc-price-switcher .wmc-currency a {*/
    /*background: transparent !important;*/
    /*}*/
}

.woocommerce-multi-currency.wmc-sidebar::-webkit-scrollbar {
    width: 0;
}

/* Track */
.woocommerce-multi-currency.wmc-sidebar::-webkit-scrollbar-track {
    background: #f1f1f1;
    /*margin-top: 2px;*/
    /*margin-bottom: 2px;*/
}

/* Handle */
.woocommerce-multi-currency.wmc-sidebar::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 20px;
}

/* Handle on hover */
.woocommerce-multi-currency.wmc-sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle {
    display: inline-block;
}

.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle .wmc-currency-wrapper {
    position: relative;
}

.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle .wmc-currency,
.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle .wmc-current-currency {
    border-radius: 50px;
    width: 38px;
    height: 38px;
    text-align: center;
    margin-bottom: 3px;
    line-height: 37px;
    font-size: 20px;
}

.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle .wmc-current-currency {
    display: inline-block;
    /*font-weight: bold;*/
}

.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle .wmc-currency a {
}

.woocommerce-multi-currency.wmc-shortcode .wmc-currency a:hover, .woocommerce-multi-currency.wmc-shortcode.layout9 .wmc-current-currency a {
    font-weight: bold;
}

.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle .wmc-fix-font {
    font-size: 15px;
}

.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle .wmc-currency-wrapper .wmc-sub-currency {
    position: absolute;
    top: 100%;
    width: fit-content;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    display: none;
    z-index: 999999;
}

.woocommerce-multi-currency.wmc-shortcode.vertical-currency-symbols-circle .wmc-currency-wrapper:hover .wmc-sub-currency {
    display: block;
    overflow: hidden;
}

/*Layout 9*/
.woocommerce-multi-currency.wmc-shortcode.layout9 .wmc-currency-wrapper {
    font-size: 0;
}

.woocommerce-multi-currency.wmc-shortcode.layout9 .wmc-currency a {
    padding: 0 14px;
}

.woocommerce-multi-currency.wmc-shortcode.layout9 .wmc-currency {
    font-size: 16px;
    display: inline-block;
    border-radius: 50px;
    min-width: 60px;
    text-align: center;
    margin-right: -30px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}

.woocommerce-multi-currency.wmc-shortcode.layout9 .wmc-left {
    text-align: left;
}

.woocommerce-multi-currency.wmc-shortcode.layout9 .wmc-right {
    text-align: right;
}

/*compa flatsome mobile nav */
.html.custom.html_topbar_right.has-child {
    padding: 0;
    font-size: .97em;
}

.wmc-flatsome-mobile-nav.wmc-current-currency {
    padding: 15px 0 15px 20px;
    flex-grow: 1;
}

.wmc-show-up {
    top: unset !important;
    bottom: 100%;
}

.wmc-custom-checkout-left {
    float: left;
}

.wmc-custom-checkout-right {
    float: right;
    color: red;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 {
    vertical-align: middle;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-current-currency .wmc-open-dropdown-currencies {
    padding-left: 5px;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-current-currency .wmc-open-dropdown-currencies:after {
    content: "";
    position: absolute;
    border-width: 0 1px 1px 0;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-style: solid;
    width: 6px;
    margin: 0;
    right: 5px;
    height: 6px;
    top: 11px;
    cursor: default;
}

.woocommerce-multi-currency.wmc-shortcode.plain-vertical.layout10 .wmc-currency-wrapper .wmc-sub-currency {
    width: auto;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-current-currency {
    padding: 5px 10px !important;
    background-color: transparent !important;
    border: none !important;
    font-weight: normal !important;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-sub-currency {
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    border-radius: 3px;
    padding: 5px;
    border: none !important;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency {
    padding: 5px !important;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency span {
    padding: 0 0 0 5px !important;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-sub-currency .wmc-currency a:hover, .woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-sub-currency .wmc-currency a {
    font-weight: normal !important;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-sub-currency .wmc-currency:hover {
    background-color: #e5ecf3;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency-wrapper .wmc-sub-currency {
    z-index: 99999;
    max-height: 250px;
    overflow-y: auto;
    font-size: 12px;
}

.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency-wrapper .wmc-sub-currency::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency-wrapper .wmc-sub-currency::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Handle */
.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency-wrapper .wmc-sub-currency::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 20px;
}

/* Handle on hover */
.woocommerce-multi-currency.wmc-shortcode.layout10 .wmc-currency-wrapper .wmc-sub-currency::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#order_review .wmc-approximately, .woocommerce-mini-cart__total .wmc-approximately, .product .price .wmc-approximately,
.woocommerce-cart-form__cart-item .wmc-approximately, .cart_totals .wmc-approximately {
    display: block !important;
    padding-left: 0;
}

.wmc-custom-checkout-right + .wmc-approximately {
    float: right;
}

.woocommerce-mini-cart-item.mini_cart_item .wmc-approximately {
    padding-left: 5px;
}

.wmc-approximately {
    white-space: nowrap;
    padding-left: 5px;
}

/*Hide second subscription details when enabling "Use cache plugin"*/
.wmc-cache-pid + .subscription-details + .subscription-details {
    display: none;
}

.wmc-currency-loading {
    position: relative;
}

.woocommerce-multi-currency.wmc-currency-loading.wmc-price-switcher .wmc-sub-currency:before,
.woocommerce-multi-currency.wmc-currency-loading:not(.wmc-price-switcher):before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .7);
    z-index: 9999;
}

.woocommerce-multi-currency.wmc-currency-loading.wmc-price-switcher .wmc-sub-currency:after,
.woocommerce-multi-currency.wmc-currency-loading:not(.wmc-price-switcher):after {
    z-index: 9999;
    content: url(./images/loading.gif);
    font-size: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(.5, .5, .5);
    margin: 0;
    padding: 0;
}